<h3>Результат</h3>
<div class="well">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>№п/п</th>
          <th>Дата изготовления</th>
          <th>Прочность серии образцов Ri, МПа</th>
          <th>Фактическая прочность Rm, МПа</th>
          <th>Ri-Rm</th>
          <th>(Ri-Rm)2</th>
          <th>Размах единичных значений Wm, МПа</th>
          <th>Среднее квадротическое отклонение Sm, МПа</th>
          <th>Коэффициент вариации Vm, %</th>
          <th>Коэффициент требуемой прочности Кт</th>
          <th>Требуемая прочность Rt, МПа</th>
        </tr>
      </thead>
      <tbody>
        <% Line.where(:table_id => @table.id).each_with_index do |element, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= element.date %></td>
          <td><%= element.pr_28_mpa %></td>
          <td></td>
          <td><%= element.pr_28_mpa.to_f-Line.midS(@table.id) %></td>
          <td><%= ((element.pr_28_mpa.to_f-Line.midS(@table.id))**2).round(1) %><%#= Line.midS(@table.id) %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
        <tr>
          <td>Итог</td>
          <td></td>
          <td><%= Line.sumP(@table.id)%></td>
          <td><%= Line.midS(@table.id)%></td>
          <td></td>
          <td><%= Line.sumR(@table.id)%></td>
          <td><%= Line.max_min(@table.id)%><%#= Line.maximum("pr_28_mpa")-Line.minimum("pr_28_mpa") %></td>
          <td><%= Line.s_m(@table.id) %></td>
          <td><%= Line.v_m(@table.id) %></td>
          <td><%= Line.k_t(@table.id) %></td>
          <td><%= Line.r_t(@table.id,@table.title) %></td>
        </tbody>
      </table>
    </div>
  </div>